body{
  background-image: url(file:///home/ezo/Desktop/ExampleProject/project-HTML-CSS/resources/background-image.jpg);
    background-size:cover;
}
.Page-Header{
    height: 80px;
    border-radius: 20px;
}
#Button-Header {
    float: right;
    border-radius: 4px;
    background-color:inherit;
    border: none;
    color:rgb(4, 30, 46);
    text-align: center;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: -60px 10px -30px 0px;
  }
  
#Button-Header > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#Button-Header > span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }  
#Button-Header:hover span {
    padding-right: 25px;
  }
#Button-Header:hover span:after {
    opacity: 1;
    right: 0;
  }
#Title-header{
    text-align: center;
    padding-top: 30px;
    margin: -10px 400px 0px 400px;
    padding-right: 30px;
    font-style:italic;
    font-family:'Courier New', Courier, monospace;
    color:rgb(4, 30, 46);
    cursor:auto;
}
#Title-header:hover{ text-align: center;
    color:whitesmoke;
  }
#logo{
    float: left;
    margin:8px 0px 0px 10px;   
  }  
#logo:hover{
  box-shadow: 0 0 5px 4px rgba(5, 34, 44, 0.5);
  }
.article-main{
  background-color: rgba(19, 18, 18, 0.63);
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 500px;
  }
.section1-article{
  text-align: center;
  } 
#image-article{
  width: 200px;
  height: auto;
  transition: transform .9s;
  }
#image-article:hover{
  transform: scale(1.5);
  }
#Head-article{
  font-style: oblique;
  font-size: 28px;
  font-family:'Courier New', Courier, monospace;
  color:rgb(223, 213, 213);
  }
#Par-article{
  font-style: oblique;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-left: 10px;
  color:rgb(223, 213, 213);
  font-size: 20px;
  }
.footer-page{
  text-align: center;
  background-color:rgba(255, 255, 255, 0);
  position: relative;
  height: 100px;
  margin-top:-100px;
  clear: both;
}
 
#head-footer{
  text-align: center;
  color:rgb(19, 18, 18);
  font-style: oblique;
  font-family:'Courier New', Courier, monospace;
  font-size: 25px;
  padding-top:50px;
  padding-bottom: 10px;
}
.side-bar-main{
  background-color: rgba(19, 18, 18, 0.63);
  border-radius: 20px;
  float:left;
  margin-bottom: 100px;
  margin-top: -10px;
}
#list-items{ 
  padding-left: 25px;                 
}
#button-items{
  border-radius: 4px;
  background-color:inherit;
  border: none;
  color:rgb(235, 246, 252);
  text-align: center;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
}
#button-items > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}
#button-items > span:after {
  content:'\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.8s;
}  
#button-items:hover > span {
  padding-right: 25px;
}
#button-items:hover > span:after {
  opacity: 1;
  right: 0;
}
#Sony-list a:link , a:visited{
  color:rgb(255, 255, 255);
  text-decoration: none;
}
#Sony-list a:hover{
  color: rgba(0, 0, 0, 0.986);
  text-decoration: none;
}
#Sony-list a:active{
  color:rgba(0, 0, 0, 0.986);
  text-decoration: none;
}
#Beats-list a:link , a:visited{
  color:rgb(255, 255, 255);
  text-decoration: none;
}
#Beats-list a:hover{
  color: rgba(245, 1, 1, 0.986);
  text-decoration: none;
}
#Beats-list a:active{
  color:rgba(248, 0, 0, 0.986);
  text-decoration: none;
}
#Razer-list a:link , a:visited{
  color:rgb(255, 255, 255);
  text-decoration: none;
}
#Razer-list a:hover{
  color: rgba(0, 255, 34, 0.986);
  text-decoration: none;
}
#Razer-list a:active{
  color:rgba(0, 255, 34, 0.986);
  text-decoration: none;
}
#Sony{
  color:rgb(0, 0, 0);
  font-size: 24px;
}
#beats{
  color:red;
  font-size: 24px;
}
#razer{
  color:rgb(2, 190, 2);
  font-size: 24px;
}
.form-page{
  background-color:rgba(19, 18, 18, 0.63);
  margin-left: 500px;
  margin-right: 350px;
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 7px;
  padding-top: 20px;
  border-radius: 20px;
}
#submit-form{
  border-radius: 4px;
  background-color:initial;
  border: none;
  color:rgb(235, 246, 252);
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  margin-right: 500px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
#submit-form:after{
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.8s;
}
#submit-form:hover{
  padding-left: 60px;
}
#submit-form:hover::after{
  opacity: 1;
  right: 0;
}
textarea{
  width: 70%;
  height: 80px;
  resize:none;
  background-color: rgba(218, 211, 211, 0.623);
}
input[type=number]{
  font-size: 18px;
  border: none;
  border-bottom: 3px solid rgba(19, 18, 18, 0.849);
  background-color: rgba(218, 211, 211, 0.623);
}
input[type=color]{
  width: 20%;
}
::placeholder{
  color:rgba(12, 11, 11, 0.836);
  opacity: 1;
}
.display-area{
  background-color:rgba(19, 18, 18, 0.63);
  margin-left: 850px;
  margin-right: 10px;
  margin-top: -327px;
  padding-left: 20px;
  padding-bottom: 7px;
  padding-top: 20px;
  border-radius: 20px;
  height: 300px;
}
.color-text label{
  color:whitesmoke;
  font-family:'Courier New', Courier, monospace;
}